{% extends 'PressPlayCoreBundle::layout.html.twig' %}

{% block header %}
<script language="javascript"> 

    function addNewEmployeeToWorkMonth() {
        // Get the div that holds the collection of tags
        var collectionHolder = $('ul.employees');

        // Get the data-prototype we explained earlier
        var prototype = collectionHolder.attr('data-prototype');

        // Replace '$$name$$' in the prototype's HTML to
        // instead be a number based on the current collection's length.
        form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);

        var $div =$('<div></div>').append(form);
        var $li = $('<li></li>').append($div);

        // Display the form in the page
        collectionHolder.append($li);
    }

    function addDeleteLink($tagFormLi) {

        var $button = $('<a href="#">remove</a>');
        var $container = $('<div style="line-height:27px"></div>').append($button);
        $tagFormLi.find('>div >div').append($container);

        $button.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            if(confirm('Are you sure you want to remove employee. This cannot be undone')){
                $tagFormLi.remove();
            }
        });
    }

    $(document).ready(function() {      

        $('ul.employees').find('li').each(function() {
            addDeleteLink($(this));
        });

        $('a.add_new').on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addNewEmployeeToWorkMonth();
        });

        $('#deletebutton').click(function(){
            return confirm("Are you sure you want to delete this month. This cannot be undone!");
        });
    });

</script> 

{% endblock %}

{% block body %}

<div class="row">
    <div class="span8">
        <h1>WorkMonth edit</h1>

        <form class="ppform" action="{{ path('admin_workmonth_update', { 'id': workmonth.id }) }}" method="post" {{ form_enctype(form) }}>

            {{ form_row(form.month) }}
            {{ form_row(form.year) }}

            <h3>Employees</h3>
            <ul class="employees" data-prototype="{{ form_widget(form.employees.get('prototype')) | e }}">
                {% for employee in form.employees %}
                    <li>{{ form_row(employee) }}</li>
                {% endfor %}                
            </ul>            
            <a class="btn btn-success add_new"><i class="icon-plus icon-white"></i> Add new employee</a>   
            {{ form_rest(form) }}

            <hr/>

            <button class="btn btn-primary" type="submit"><i class="icon-ok-sign icon-white"></i> Save</button>  
        </form>

        <hr/>

        <form action="{{ path('admin_workmonth_delete', { 'id': workmonth.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button id="deletebutton" class="btn btn-danger" type="submit"><i class="icon-trash icon-white"></i> Delete</button>
        </form>
    </div>
</div>
{% endblock %}