<h1>WorkMonth</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ workmonth.id }}</td>
        </tr>
        <tr>
            <th>Month</th>
            <td>{{ workmonth.month }}</td>
        </tr>
        <tr>
            <th>Year</th>
            <td>{{ workmonth.year }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_workmonth') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_workmonth_edit', { 'id': workmonth.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_workmonth_delete', { 'id': workmonth.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
