{% extends 'PressPlayCoreBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block form_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {{ block('field_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget %}

{% block field_row %}
{% spaceless %}
    <div>
        {{ form_label(form, label|default(null)) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block _timesheet_timetrackings_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    <div class="timetracking-form-container">
    {{ block('form_widget') }}
    </div>        
{% endspaceless %}
{% endblock %}

{% block field_widget %}
    {% set type = type|default('time') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" {% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %} />
{% endblock field_widget %}   
    
{% block header %}
<script language="javascript"> 

    function addNewTimeRegistration() {
        // Get the div that holds the collection of tags
        var collectionHolder = $('#timesheet_timetrackings');
        // Get the data-prototype we explained earlier
        var prototype = collectionHolder.attr('data-prototype');
        // Replace '$$name$$' in the prototype's HTML to
        // instead be a number based on the current collection's length.
        form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
        // Display the form in the page
        collectionHolder.append(form);
    }

    $(document).ready(function() {          
        $('a.add_new_timeregistration').click(function(event){
            
            if(confirm('are you sure you want to add another row to the form?')){
                addNewTimeRegistration();
            }
        });
    });

</script> 

{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <h1>{{ timesheet.date|date("j. F Y") }} <small>{{app.user.fullname}}</small></h1>
    </div>
</div>        
    <hr />
 <div class="row">       
    <div class="span9">

        {% if app.session.hasFlash('confirmation') %}
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                <h4 class="alert-heading">Your time has been registered!</h4>                
                Have a nice day!
                {{ app.session.flash('confirmation') }}
            </div>        
        {% endif %}        
        
        <form action="{{ path('timesheet_update', { 'id': timesheet.id }) }}" method="post" {{ form_enctype(form) }}>        
            
            {{ form_row(form.timetrackings) }}
            
            <hr>
            
            {{ form_rest(form) }}                 
            
            <hr>
            
            <a class="btn btn-success add_new_timeregistration"><i class="icon-plus icon-white"></i> Add new registration</a>               
            <button class="btn btn-primary" type="submit"><i class="icon-ok-sign icon-white"></i> Save registrations</button>               
        </form>
        
    </div>        
    <div class="span3">
        
        {% if timesheet.totalHours < 8 %}
        {% set colorcss = "negative" %}
        {% else %}
        {% set colorcss = "positive" %}
        {% endif %}
        <div class="factbox {{colorcss}}">
            <span>{{timesheet.totalHours}}</span>
            Hours today
        </div>
            
        <div class="month-navigation">
            <table class="table table-striped table-condensed">
                
                {% for i in 1..timesheet.date|date('t') %}
                    {% if i < 10 %}
                        {% set day = "0"~i %}    
                    {% else %}
                        {% set day = i %}
                    {% endif %}
                
                
                    {% set d = timesheet.date|date('Y') ~ timesheet.date|date('m') ~ day %}

                    {% set css = "" %}
                    {% if timesheet.date|date("Ymd") == d %}
                    {% set css = "selected" %}
                    {% elseif today|date("Ymd") == d %}    
                    {% set css = "today" %}
                    {% endif %}                 
                
                <tr class="{{css}}">
                    <td>        
                        <a href="{{ path('dashboard_home', {'date': d })}}" style="display: block">
                            {% if timesheet.date|date("Ymd") == d %}
                                <span class="icon-play"></span>    
                            {% endif %}                       
                            {{i}}. {{ timesheet.date|date('F') }}
                        
                            {% if timesheet.date|date("Ymd") == d %}
                                <span class="label label-info">selected</span>    
                            {% endif %}                             
                            
                            {% if today|date("Ymd") == d %}
                                <span class="label">today</span>    
                            {% endif %}                               
                        </a>
                    </td>
                </tr>

                {% endfor %} 
                
            </table>
        </div>
    </div>                
</div>
{% endblock %}