{% extends 'PressPlayCoreBundle::layout.html.twig' %}

{% block header %}
<script language="javascript"> 
    
function pad(n, len) {
   
    s = n.toString();
    if (s.length < len) {
        s = ('0000000000' + s).slice(-len);
    }

    return s;
   
}    
    
function add(n, len) {
   
    s = n.toString();
    if (s.length < len) {
        s = (s + '0000000000').slice(-len);
    }

    return s;
   
}     
    
    var timeData = [];
    
    for(var h = 0; h <= 24; h++){
        
        if(h<24){
            for(var m = 0;m < 4; m++){
                var hours = 15 * m;
                timeData.push(pad(h,2)+":"+add(hours,2));    
            }
        }else{
            timeData.push(pad(h,2)+":00"); 
        }
    }
    
    $(document).ready(function() {          
        $('.timeselect').typeahead({
            source: timeData
        })
    });

</script> 
{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">

    </div>
</div>        
    <hr />
 <div class="row">       
    <div class="span9">

        
        
        <form action="{{ path('timetracking_create') }}" method="post" {{ form_enctype(form) }}>
        
        {{ form_errors(form) }}

        <div>
            {{ form_label(form.startTime) }}
            {{ form_errors(form.startTime) }}
            {{ form_widget(form.startTime, { 'attr': {'class': 'span2 timeselect', 'placeholder':'i.e. 08:00'} }) }}
        </div>

        <div>
            {{ form_label(form.stopTime) }}
            {{ form_errors(form.stopTime) }}
            {{ form_widget(form.stopTime, { 'attr': {'class': 'span2 timeselect', 'placeholder':'i.e. 16:00'} }) }}
        </div>

        <div>
            {{ form_label(form.adjustment) }}
            {{ form_errors(form.adjustment) }}
            {{ form_widget(form.adjustment, { 'attr': {'class': 'span2'} }) }}
        </div>            
            
        {{ form_rest(form) }}        
        
            <button class="btn btn-primary" type="submit"><i class="icon-ok-sign icon-white"></i> Save</button>
        </form>
            
        <h1>
            {{ date|date("j. F Y") }}
        </h1>      
        
        <form>
            <input type="hidden" name="date" value="{{ date|date('Ymd') }}">
            
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Start time</th>
                        <th>Stop time</th>
                        <th>Adjustment</th>
                        <th></th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <input class="span2 timeselect" type="text" placeholder="i.e. 08:00">
                    </td>
                    <td>
                        <input class="span2 timeselect" type="text" placeholder="i.e. 16:00">
                    </td>
                    <td>
                        <input class="span2" type="text" placeholder="i.e. -01:30">
                    </td>                 
                    <td>
                        <!-- <a class="btn btn-danger" href="#"><i class="icon-trash icon-white"></i> Delete</a> -->
                    </td>                   
                </tr>
                <tr>
                    <td colspan="4">
                        <button class="btn btn-success" href="#"><i class="icon-plus icon-white"></i> Add</button>
                    </td>
                </tr>
            </table>
        </form>                
    </div>        
    <div class="span3">
        <div class="factbox positive">
            <span>+25</span>
            Timer
        </div>
            
        <div class="month-navigation">
            <table class="table table-striped table-condensed">
                
                {% for i in 1..date|date('t') %}
                    {% if i < 10 %}
                        {% set day = "0"~i %}    
                    {% else %}
                        {% set day = i %}
                    {% endif %}
                
                
                    {% set d = date|date('Y') ~ date|date('m') ~ day %}

                    {% set css = "" %}
                    {% if date|date("Ymd") == d %}
                    {% set css = "selected" %}
                    {% elseif today|date("Ymd") == d %}    
                    {% set css = "today" %}
                    {% endif %}                 
                
                <tr class="{{css}}">
                    <td>        
                        <a href="{{ path('dashboard_home', {'date': d })}}" style="display: block">
                            {% if date|date("Ymd") == d %}
                                <span class="icon-play"></span>    
                            {% endif %}                       
                            {{i}}. {{ date|date('F') }}
                        
                            {% if date|date("Ymd") == d %}
                                <span class="label label-info">selected</span>    
                            {% endif %}                             
                            
                            {% if today|date("Ymd") == d %}
                                <span class="label">today</span>    
                            {% endif %}                               
                        </a>
                    </td>
                </tr>

                {% endfor %} 
                
            </table>
        </div>
    </div>                
</div>
{% endblock %}