{% extends 'PressPlayCoreBundle::layout.html.twig' %}   

{% block header %}
<script language="javascript"> 

    function addNewTimeRegistration() {
        // Get the div that holds the collection of tags
        var collectionHolder = $('ul.timetrackings');

        // Get the data-prototype we explained earlier
        var prototype = collectionHolder.attr('data-prototype');

        // Replace '$$name$$' in the prototype's HTML to
        // instead be a number based on the current collection's length.
        form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);

        var $div =$('<div></div>').append(form);
        var $li = $('<li></li>').append($div);

        // Display the form in the page
        collectionHolder.append($li);

        addDeleteLink($li, false);
    }

    function addDeleteLink($tagFormLi, existing) {

        var $button = $('<a href="#">remove</a>');
        var $container = $('<div style="line-height:70px"></div>').append($button);
        $tagFormLi.find('>div >div').append($container);

        $button.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form

            if(existing){
                if(confirm('Are you sure you want to remove time registration. This cannot be undone')){
                    $tagFormLi.remove();
                }
            }else{
                $tagFormLi.remove();
            }
        });
    }

    $(document).ready(function() {  

        $('ul.timetrackings').find('li').each(function() {
            addDeleteLink($(this), true);
        });

        $('a.add_new').on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addNewTimeRegistration();
        });

        var baseurl = "{{path('dashboard_home')}}";

        $("#monthselector").on("change",function(){
            window.location = baseurl+"/"+$(this).val();
        })
    });    

</script> 

{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        {% if hastimesheet %}
            <h1>{{ timesheet.date|date("j. F Y") }} <small>{{app.user.name}}</small></h1>
        {% else %}
            <h1>{{ date|date("j. F Y") }} <small>{{app.user.name}}</small></h1>
        {% endif %}
    </div>
</div>        
    <hr />

<div class="row">       
    <div class="span9">

        {% if hastimesheet %}
            {% if app.session.hasFlash('confirmation') %}
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">×</a>
                    <h4 class="alert-heading">Your time has been registered!</h4>                
                    Have a nice day!
                    {{ app.session.flash('confirmation') }}
                </div>        
            {% endif %}        
            
            <form class="ppform" action="{{ path('timesheet_update', { 'id': timesheet.id }) }}" method="post" {{ form_enctype(form) }}>

                <h3>Time Registrations</h3>
                <ul class="timetrackings" data-prototype="{{ form_widget(form.timetrackings.get('prototype')) | e }}">
                    {% for timetracking in form.timetrackings %}
                        <li>{{ form_row(timetracking) }}</li>
                    {% endfor %}                
                </ul>            
 
                {{ form_rest(form) }}

                <hr/>

                <a class="btn btn-success add_new"><i class="icon-plus icon-white"></i> Add new time registration</a>  
                <button class="btn btn-primary" type="submit"><i class="icon-ok-sign icon-white"></i> Save</button>  
            </form>
        {% else %}    
        <div class="alert alert-info">
            We have no workday registered for this day yet.
        </div>

        {% endif %}        

    </div>        
    <div class="span3">
        {% if hastimesheet %}
            {% if timesheet.totalHours < selectedworkmonth.workDayAverageHours %}
            {% set colorcss = "negative" %}
            {% else %}
            {% set colorcss = "positive" %}
            {% endif %}
            <div class="factbox {{colorcss}}">
                <span>{{timesheet.totalHours}}</span>
                Hours today
            </div>
        {% endif %}    

        <div class="month-navigation">         
            <strong>Vælg måned</strong>
            <select id="monthselector" class="span3">
                {% for workmonth in user.workmonths %}
                    {% if hastimesheet and selectedworkmonth.id == workmonth.id %}
                        <option value="{{workmonth.datestring}}" selected>{{workmonth.formattedDate}}</option>
                    {% else %}
                        <option value="{{workmonth.datestring}}">{{workmonth.formattedDate}}</option>
                    {% endif %}
                {% endfor %}
            </select>

            {% if hastimesheet %}
                <table class="table table-striped table-condensed">
                    
                    {% for i in 1..timesheet.date|date('t') %}
                        {% if i < 10 %}
                            {% set day = "0"~i %}    
                        {% else %}
                            {% set day = i %}
                        {% endif %}
                    
                    
                        {% set d = timesheet.date|date('Y') ~ timesheet.date|date('m') ~ day %}

                        {% set css = "" %}
                        {% if timesheet.date|date("Ymd") == d %}
                        {% set css = "selected" %}
                        {% elseif today|date("Ymd") == d %}    
                        {% set css = "today" %}
                        {% endif %}                 
                    
                    <tr class="{{css}}">
                        <td>        
                            <a href="{{ path('dashboard_home', {'date': d })}}" style="display: block">
                                {% if timesheet.date|date("Ymd") == d %}
                                    <span class="icon-play"></span>    
                                {% endif %}                       
                                {{i}}. {{ timesheet.date|date('F') }}
                            
                                {% if timesheet.date|date("Ymd") == d %}
                                    <span class="label label-info">selected</span>    
                                {% endif %}                             
                                
                                {% if today|date("Ymd") == d %}
                                    <span class="label">today</span>    
                                {% endif %}                               
                            </a>
                        </td>
                    </tr>

                    {% endfor %} 
                    
                </table>
            {% endif %}
        </div>
    </div>                
</div>
{% endblock %}