{% extends 'PressPlayCoreBundle::layout.html.twig' %}

{% block header %}
<script language="javascript"> 

    function addNewTimeRegistration() {
        // Get the div that holds the collection of tags
        var collectionHolder = $('#timesheet_timetrackings');
        // Get the data-prototype we explained earlier
        var prototype = collectionHolder.attr('data-prototype');
        // Replace '$$name$$' in the prototype's HTML to
        // instead be a number based on the current collection's length.
        form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
        // Display the form in the page
        collectionHolder.append(form);
    }

    $(document).ready(function() {          
        $('a.add_new_timeregistration').click(function(event){
            addNewTimeRegistration();
        });
    });

</script> 

{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <h1>{{app.user.fullname}}</h1>
    </div>
</div>        
    <hr />
 <div class="row">       
    <div class="span9">

        <h1>
            {{ timesheet.date|date("j. F Y") }}
        </h1>      

        {% if app.session.hasFlash('confirmation') %}
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert">×</a>
                <h4 class="alert-heading">Your time has been registered!</h4>                
                Have a nice day!
                {{ app.session.flash('confirmation') }}
            </div>        
        {% endif %}        
        
        <form action="{{ path('timesheet_update', { 'id': timesheet.id }) }}" method="post" {{ form_enctype(form) }}>        
                
            {{ form_row(form.timetrackings) }}
            
            {{ form_rest(form) }}                 
            <a class="btn btn-success add_new_timeregistration"><i class="icon-plus icon-white"></i> Add registration</a>               
            <button class="btn btn-primary" type="submit"><i class="icon-ok-sign icon-white"></i> Save registrations</button>               
        </form>
        
    </div>        
    <div class="span3">
        <div class="factbox positive">
            <span>+25</span>
            Timer
        </div>
            
        <div class="month-navigation">
            <table class="table table-striped table-condensed">
                
                {% for i in 1..timesheet.date|date('t') %}
                    {% if i < 10 %}
                        {% set day = "0"~i %}    
                    {% else %}
                        {% set day = i %}
                    {% endif %}
                
                
                    {% set d = timesheet.date|date('Y') ~ timesheet.date|date('m') ~ day %}

                    {% set css = "" %}
                    {% if timesheet.date|date("Ymd") == d %}
                    {% set css = "selected" %}
                    {% elseif today|date("Ymd") == d %}    
                    {% set css = "today" %}
                    {% endif %}                 
                
                <tr class="{{css}}">
                    <td>        
                        <a href="{{ path('dashboard_home', {'date': d })}}" style="display: block">
                            {% if timesheet.date|date("Ymd") == d %}
                                <span class="icon-play"></span>    
                            {% endif %}                       
                            {{i}}. {{ timesheet.date|date('F') }}
                        
                            {% if timesheet.date|date("Ymd") == d %}
                                <span class="label label-info">selected</span>    
                            {% endif %}                             
                            
                            {% if today|date("Ymd") == d %}
                                <span class="label">today</span>    
                            {% endif %}                               
                        </a>
                    </td>
                </tr>

                {% endfor %} 
                
            </table>
        </div>
    </div>                
</div>
{% endblock %}